Dear <%= user.firstName + ' ' + user.lastName %>,<br>
<br>
Passsword for your account ( <%= user.userID %> ) is: <strong><%= user.password %></strong><br>
<br>
If you have any questions, contact us anytime at <a href="mailto:<%= app.SUPPORT %>"><%= app.SUPPORT %></a>.<br>
<br>
Best, <br>
The <%= app.TITLE %> Team <br>
<a href="<%= app.BASEURL %>" target="_blank"><%= app.BASEURL %></a>"